<!--
<% if false %>
<%= form_for @input, :html => {:class => "form-horizontal"}, remote: true do |f| %>
    <div class="form-group">
        <%= f.label :piece, "Tetris Piece:", class: "col-sm-2 control-label" %>
        <div class="col-sm-3">
            <%= f.text_field :piece, class: "form-control", :placeholder => "Tetris Piece"%>
            <span id="pieceBlock" class="help-block" style="min-height: 35px"></span>
        </div>
        <div class="col-sm-7">
            <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Loading..."} %>
        </div>
    </div>
    <div class="helpBlock"></div>
    <div class="piecesList"></div>
<% end %>
<% end %>
-->
<%= form_tag('#', remote: true, class: "form-horizontal") do %>
    <div class="form-group">
        <%= label_tag(:piece, "Tetris Piece:", class: "col-sm-2 control-label") %>
        <div class="col-sm-3">
            <%= text_field_tag(:piece, value=nil, :placeholder => "Tetris Piece")%>
            <span id="pieceBlock" class="help-block" style="min-height: 35px"></span>
        </div>
        <div class="col-sm-7">
            <%= button_tag( "Submit", type: "button", class: "btn btn-primary", data: {disable_with: "Loading..."}, onclick: "validateForm()")%>
        </div>
    </div>
<!--
    <div id="helpBlock"></div>
    <div id="piecesList"></div>
-->
<% end %>